.main-banner {
    width: 705px;
    height: 424px;
    border-radius: 10px;
    background: url(../images/new-image/main-banner.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#logo img {
    display: block;
    box-shadow: 0 3px 4px 0 rgba(0,0,0, .2);
}

#all_products .filter .header-phone {
    font-family: Arial, sans-serif;
    margin: 0;
    display: inline-block;
    float: left;
    padding: 0;
}

#all_products .filter .header-phone::after {
    content: '';
    clear: both;
    display: block;
}

#all_products .filter .header-phone__item {
    float: left;
    font-size: 14px;
    color: #646464;
    padding: 0;
    margin: 0 18px 0 0;

}

#all_products .filter .header-phone__item:last-child {
    margin-right: 0;
}

#all_products .filter .header-phone__item a {
    color: #a43922;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: none;
}

#all_products .filter .header-mail {
    color: #646464;
    font-size: 14px;
    padding-right: 30px;
    position: relative;
    float: left;
    cursor: pointer;

    margin: 0 25px 0 0;
}

#all_products .filter .header-mail a {
    color: #646464;
    font-size: 14px;
    text-decoration: none;
}
#all_products .filter .header-mail::after {
    content: '';
    position: absolute;
    right: 0;
    top: 1px;
    width: 23px;
    height: 14px;
    background: url(../images/new-image/mail.png) 0 0 no-repeat;
}

/*main-info------------------*/

.main-info {
    border-radius: 6px;
    background: rgba(129,205,81,1);
    background: -moz-linear-gradient(top, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,205,81,1)), color-stop(100%, rgba(107,177,63,1)));
    background: -webkit-linear-gradient(top, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    background: -o-linear-gradient(top, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    background: linear-gradient(to bottom, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81cd51', endColorstr='#6bb13f', GradientType=0 );
    margin-bottom: 16px;
    padding: 17px;

}

.main-info__item {
    color: #ffffff;
    padding: 18px 0;
    border-bottom: 1px dashed #fff;
    text-align: center;
    display: table;
    vertical-align: middle;
    width: 100%;
    font-family: BlissProRegular, sans-serif;
    text-decoration: none;

}

.main-info__item:first-child {
    padding-top: 0;
}

.main-info__item:nth-child(2) {
    padding: 35px 0;
}

.main-info__item:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


.main-info__title {
    font-size: 30px;
    line-height: 1;
    display: block;
    vertical-align: middle;
    width: 100%;
    font-weight: 400;

}

.main-info__subtitle {
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    display: block;
    vertical-align: middle;
    width: 100%;
}

.main-question * {
    box-sizing: border-box;
}

.main-question {
    box-sizing: border-box;
    width: 100%;
    display: table;
    border-radius: 6px;
    background: rgba(129,205,81,1);
    background: -moz-linear-gradient(top, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,205,81,1)), color-stop(100%, rgba(107,177,63,1)));
    background: -webkit-linear-gradient(top, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    background: -o-linear-gradient(top, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    background: linear-gradient(to bottom, rgba(129,205,81,1) 0%, rgba(107,177,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81cd51', endColorstr='#6bb13f', GradientType=0 );
    padding: 9px;
}

.main-question a {
    text-decoration: none;
}

.main-question__img {
    display: table-cell;
    position: relative;
    border-radius: 6px;
    background-color: #fff;
    width: 43%;
    height: 95px;
}

.main-question__img img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-question__text {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.2;
    font-family: BlissProRegular, sans-serif;
    text-transform: uppercase;
    padding: 0 20px;
}

.c-social {
    font-size: 0;
    margin-top: 10px;

}

.c-social--left {
    text-align: left;
}

.c-social--right {
    text-align: right;
}

.c-social--center {
    text-align: center;
}

.c-social__item {
    display: inline-block;
    margin: 0 2px;
}

.c-download * {
    box-sizing: border-box;
}

.c-download {
    padding: 12px 22px;
    width: 100%;
    height: 131px;
    background: url(../images/new-image/bg-download.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
}

.c-download--left {
    text-align: left;
}

.c-download--right {
    text-align: right;
}

.c-download--center {
    text-align: center;
}

.c-download__body {
    display: inline-block;
    max-width: 200px;
    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
}

.c-download__text {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.1;
    color: #a43922;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    text-align: left;
    padding-left: 32px;
    position: relative;
}


.c-download__text::before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 22px;
    height: 32px;
    background: url(../images/new-image/icon-pdf.png) 0 0 no-repeat;
}

.c-download__btn {
    display: block;
    padding: 5px 25px;
    background-color: #a43922;
    border-radius: 6px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle;
}


/*.icon-pdf {*/
    /*display: inline-block;*/
    /*width: 12px;*/
    /*height: 17px;*/
    /*background: url(../images/new-image/icon-download.png) 0 0 no-repeat;*/
/*}*/


.icon-download {
    display: inline-block;
    width: 12px;
    height: 17px;
    background: url(../images/new-image/icon-download.png) 0 0 no-repeat;
    vertical-align: top;
}




/*load --------------------------------------*/

.product-slider-content-fake {
    height: 242px;
    width: 100%;
    min-width: 1000px;
    max-width: 1080px;
    margin: 0 auto 13px;
}
.main-slider-fake {
    height: 520px;
    width: 540px;
}

.style-fake {
    box-shadow: 1px 1px 2px 0 #d3d3d3;
    background: #f9f9f9 url(../images/new-image/fake-logo.png) 50% 50% no-repeat;
}

.onload .style-fake {
    display: none;
}

#product-slider-content,
.b-photos .royalSlider {
    display: none;
}

.onload #product-slider-content,
.onload .b-photos .royalSlider {
    display: block;
}


/*menu footer*/
#footer .menu > ul > li:nth-child(1) {
    width: 10%;
}

#footer .menu > ul > li:nth-child(2) {
    width: 22%;
}

#footer .menu > ul > li:nth-child(3) {
    width: 17%;
}

#footer .menu > ul > li:nth-child(4) {
    width: 19%;
}

#footer .menu > ul > li:nth-child(5) {
    width: 14%;
}